body {
  box-sizing: border-box; }

.html {
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px);
    /* transform: rotate(180deg); */ }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-primary {
  color: #777;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 50px;
    font-weight: 380;
    letter-spacing: 5px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    animation: moveInRight 1s ease-out;
    /* animation-delay       : 3s;
        animation-iteration-count: 3; */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-secondary {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  background-image: linear-gradient(to right, #93d5cb, #7decf4);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary-white {
    color: #777; }

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-centre-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn {
  position: relative; }
  .btn:link, .btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    /* should be in the original state*/
    position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* X Y blurr colour */
    /* rgba (R B Y opacity) */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn-animated {
    animation: moveInBottom .5s ease-out 0.75s;
    /* animation name duration function delay */
    animation-fill-mode: backwards; }
  .btn-white {
    background-color: #fff;
    color: #777;
    text-transform: uppercase; }
    .btn-white::after {
      background-color: #fff; }
  .btn-coloured {
    background-color: #777;
    color: #fff;
    bottom: 0px; }
    .btn-coloured::after {
      background-color: #777; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #93d5cb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #93d5cb;
  padding: 3px;
  transition: all .2; }

.btn-text:hover {
  background-color: #93d5cb;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.card {
  perspective: 30rem;
  -moz-perspective: 50rem;
  position: relative;
  height: 20rem; }
  .card_side {
    height: 20rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card_side_front {
      background-color: #fff;
      background-image: linear-gradient(to bottom, #fff, #bfedee); }
    .card_side_back {
      transform: rotateY(180deg);
      background-image: linear-gradient(to top left, #42a0f8, #93d5cb); }
      .card_side_back p {
        font-size: 1.5;
        color: #fff;
        padding: 1.5rem; }
  .card:hover .card_side_front {
    transform: rotateY(-180deg); }
  .card:hover .card_side_back {
    transform: rotateY(0deg); }
  .card_picture {
    margin: 20% 5%;
    height: 2rem;
    text-align: center; }
    .card_picture img {
      max-width: 50%;
      border-radius: 2rem; }
  .card_details {
    margin-top: 2rem; }
    .card_details ul {
      list-style: none;
      width: 80%; }
      .card_details ul li {
        text-align: center;
        padding: 1rem; }
        .card_details ul li:not(:last-child) {
          border-bottom: 1px solid #f7f7f7; }

.award {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 2rem 6rem;
  font-size: 1rem; }
  .award ul {
    list-style: none; }
    .award ul li {
      padding: .8rem; }
      .award ul li:not(:last-child) {
        border-bottom: 1px solid #93d5cb; }

.interest {
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  height: 8.5rem;
  width: 8.5rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative; }
  .interest_img {
    position: absolute;
    transform: scale(1.1);
    top: 0;
    left: -25%;
    height: 100%;
    transition: all .5s; }
  .interest_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .interest:hover .interest_caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .interest:hover .interest_img {
    transform: scale(1);
    filter: blur(3px) brightness(90%); }

.composition {
  position: relative; }
  .composition_photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 0.5rem; }
    .composition_photo--p1 {
      left: 0;
      top: 0rem; }
    .composition_photo--p2 {
      right: -1rem;
      top: 2rem; }
    .composition_photo--p3 {
      left: 20%;
      top: 7rem; }
    .composition_photo:hover {
      outline: 0.5rem solid #93d5cb;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition_photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  height: 20rem; }
  .feature-box-icon {
    font-size: 3rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #93d5cb, #93d5cb);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video_content {
    object-fit: cover;
    height: 90%;
    width: 100%; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    transition: all .5s; }
  .popup_close:link, .popup_close:visited {
    color: #777;
    position: absolute;
    top: -0.3rem;
    right: 1rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block; }
    .popup_close:link:hover, .popup_close:visited:hover {
      color: #93d5cb; }
  .popup_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 70%;
    background-color: #fff;
    height: 30rem;
    transform: translate(-50%, 20%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table; }
    .popup_content_left, .popup_content_middle_left, .popup_content_middle_right, .popup_content_right {
      width: 25%;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .popup_content_left img, .popup_content_middle_left img, .popup_content_middle_right img, .popup_content_right img {
        width: 50%; }
    .popup_content_left_aboutMe {
      width: 40%;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      .popup_content_left_aboutMe img {
        width: 100%;
        margin-bottom: -0.4rem;
        margin-top: -0.1rem; }
    .popup_content_right_large {
      width: 60%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 3rem;
      font-size: 1rem; }
  .popup_links:link, .popup_links:visited {
    color: #777;
    font-size: 1rem;
    text-decoration: none; }
    .popup_links:link:hover, .popup_links:visited:hover {
      color: #93d5cb; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(191, 237, 238, 0.8), rgba(125, 236, 244, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.text-box {
  position: absolute;
  left: 50%;
  /* relative to the parent element */
  top: 40%;
  /* relative to the parent element */
  transform: translate(-50%, -50%);
  /* relative to the element itself */
  text-align: center; }

.row {
  max-width: 60rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class*="col-"] {
    float: left; }
    .row [class*="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc((((100% - 2 * 2rem) / 3) * 2) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 2rem)) / 4); }
  .row .col-2-of-4 {
    width: calc((((100% - 3 * 2rem) / 4) * 2) + 2rem); }
  .row .col-3-of-4 {
    width: calc((((100% - 3 * 2rem) / 4) * 3) + 2 * 2rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 10rem 3rem;
  margin-top: -20vh;
  margin-bottom: -5rem; }

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(191, 237, 238, 0.8), rgba(125, 236, 244, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -5rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-career {
  background-color: #f7f7f7;
  padding: 10rem 3rem 20rem 3rem;
  margin-top: -5rem; }

.section-awards {
  background-color: #f7f7f7;
  padding: 5rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(191, 237, 238, 0.8), rgba(125, 236, 244, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  .section-awards > * {
    transform: skewY(7deg); }

.section-interests {
  padding: 10rem 3rem 20rem 3rem;
  margin-top: -5rem;
  position: relative; }

.footer {
  background-color: #2e2d2d;
  padding: 3rem 0;
  text-align: center;
  transform: translateY(-7.5rem); }
  .footer img {
    width: 5%; }

/*
  pseudo classes:
  link   : for boxes that need to be checked, for links that need to be clicked...
  visited: for links that have been clicked before (For here, we want it to stay the same as when it was unclicked)
  hover  : for when you hover over an element
  active : for when you click on an element
*/
