
// Colour
$colour-primary      : #93d5cb;
$colour-primary-light: #bfedee;
$colour-primary-dark : #7decf4;

$colour-secondary-light: #42a0f8;

$colour-tertiary-dark: #510bc2;
$colour-tertiary-light: #8c6ebd;
$colour-tertiary: #b148be;


$colour-grey-dark: #777;
$colour-white    : #fff;
$colour-black    : #000;
$colour-grey-dark-2: rgb(46, 45, 45);

$colour-grey-light-1: #f7f7f7;

// Grid
$grid-width: 60rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 2rem;

//font
$default-font-size: 1rem;
