.award {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($colour-black, .1);
    background-color: $colour-white;
    border-radius: 3px;
    padding: 2rem 3rem;
    font-size: $default-font-size;

    @include respond(tab-port) {
        font-size: .85rem;
    }

    // transform: skewX(-20deg);

    ul {
        // transform: skewX(12deg);
        list-style: none;

            li {
                padding   : .3rem 0;

                &:not(:last-child) {
                    border-bottom: 1px solid $colour-primary;
                }
            }
    }
}