.interest {

    font-size            : 1.5;
    padding              : 2.5rem;
    text-align           : center;
    box-shadow           : 0 1.5rem 4rem rgba($colour-black, .15);
    height               : 12rem;
    width                : 12rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside        : circle(50% at 50% 50%);
    -webkit-clip-path    : circle(50% at 50% 50%);
    clip-path            : circle(50% at 50% 50%);
    position             : relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none;
    }

    @include respond(phone) {
        transform: translateX(-3rem) skewX(0);
    }

    &_img {
        position: absolute;
        transform: scale(1.1);
        top     : 0;
        left    : -25%;
        height  : 100%;
        transition: all .5s;

    }

    &_caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 150%);
        color: $colour-white;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &_caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &_img {
        transform: scale(1);
        filter: blur(3px) brightness(90%);
    }
}